.App-logo {
  width: 100%;
}
  
.text {
  font-size: 50px;
  color:  #fff;
  margin: 30px;
  font-weight: bold;
}

.text-1 {
  font-size: 70px;
}

.image-icon {
  height: 90%;
  margin: 10px;
}

.imge {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40% 40%;
  height: 30vmax;
}

@media (max-width: 2000px) {
  .text {
    font-size: 35px;
  }
  
  .text-1 {
    font-size: 50px;
  }
}

@media (max-width: 1500px) {
  .text {
    font-size: 30px;
  }
  
  .text-1 {
    font-size: 40px;
  }
}

@media (max-width: 900px) {
  .image-icon {
    height: 50%;
  }
  .text {
    font-size: 20px;
  }
  
  .text-1 {
    font-size: 30px;
  }

}